.Media {
  cursor: pointer;
  min-height: 210px;
  vertical-align: top;
  background: #f2f2f2;
  border: 1px solid #d2d2d2;
  border-radius: 0 0  6px 6px;
  flex-basis: calc(20% - 8px);
  overflow: hidden;
}
.Media:hover {
  background: #f5f5f5;
}

.Media:hover .Media-cover {
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.Media:hover .Media-title {
  color: #54547b;
}

.Media-cover {
  transition: .3s;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  width: 100%;
  height: 100%;
}

.Media-image {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.Media-title {
  margin: 5px 0 0 5px;
  color: #44546b;
  white-space: normal;
}

.Media-author {
  font-size: 12px;
  margin: 5px 0 0 5px;
}